#navbar {
	background-color: rgb(226,0,99);
}

#jumbotron {
	background-color: black;
}

#overview {
	background-color: rgb(226,0,99);
}

#firstProgressBar {
	background-color: darkgrey; 
	width: 80%;
}

#secondProgressBar {
	background-color: darkgrey; 
	width: 57%;
}

#card {
	background-color: rgb(226,0,99);
}

#secondCard {
	background-color: rgb(226,0,99);
}

#footer {
	background-color: black; 
	height: 100px; 
	padding: 50px;
}