.datPinkColor {
	background-color: rgb(226,0,99) !important;
}

#jumbotron {
	background-color: black;
}

#firstProgressBar {
	background-color: darkgrey; 
	width: 80%;
}

#secondProgressBar {
	background-color: darkgrey; 
	width: 57%;
}

#footer {
	background-color: black; 
	height: 100px; 
	padding: 50px;
}